Azure Data Factory/pipeline/000_Pipeline_CopyData_from_DB_ADLS.json
{
	"name": "000_Pipeline_CopyData_from_DB_ADLS",
	"properties": {
		"description": "Copy all the files for database from local to ADLS",
		"activities": [
			{
				"name": "Check_for_All_Table",
				"description": "This task will look up for all the tables present in the on prem database.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select s.name as SchemaName , t.name as TableName \nfrom sys.tables t \ninner join sys.schemas s \non t.schema_id = s.schema_id\nwhere s.name = 'SalesLT'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Local_All_tables",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Check_for_All_Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Check_for_All_Table').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@{concat('select * from ', item().schemaname, '.', item().tablename )}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Local_All_tables",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "All_tables_load_loacl_ADLS_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().schemaname",
											"type": "Expression"
										},
										"tableName": {
											"value": "@item().tablename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-08-26T14:20:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}